<div class="container-flud" style="background-color: lightblue;">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/1545429173.svg" height="100%" width="100%">

        </div>
        <div class="col-md-4 mt-3">
            <h2 class="text-success text-center">Welcome To MIHISETHA</h2><br><br>

            <form action="">
                <h3 style="text-align: center;" class="text-primary">Login</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="username">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                  </div>
                  <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select class="form-select" aria-label="Role" id="role" name="role" >
                        <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                        
                      </select>

                  </div>
                  
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary" (click)="login()">Login</button>

                  </div>
                 
            </form>
            

        </div>
        
        <div class="col-md-2">

        </div>
    </div>
</div>
